// Code generated by Fern. DO NOT EDIT.

package client

import (
	context "context"
	v2 "github.com/square/square-go-sdk/v2"
	core "github.com/square/square-go-sdk/v2/core"
	cards "github.com/square/square-go-sdk/v2/customers/cards"
	customattributedefinitions "github.com/square/square-go-sdk/v2/customers/customattributedefinitions"
	customattributes "github.com/square/square-go-sdk/v2/customers/customattributes"
	groups "github.com/square/square-go-sdk/v2/customers/groups"
	segments "github.com/square/square-go-sdk/v2/customers/segments"
	internal "github.com/square/square-go-sdk/v2/internal"
	option "github.com/square/square-go-sdk/v2/option"
	http "net/http"
	os "os"
)

type Client struct {
	WithRawResponse            *RawClient
	CustomAttributeDefinitions *customattributedefinitions.Client
	Groups                     *groups.Client
	Segments                   *segments.Client
	Cards                      *cards.Client
	CustomAttributes           *customattributes.Client

	baseURL string
	caller  *internal.Caller
	header  http.Header
}

func NewClient(opts ...option.RequestOption) *Client {
	options := core.NewRequestOptions(opts...)
	if options.Token == "" {
		options.Token = os.Getenv("SQUARE_TOKEN")
	}
	if options.Version == "" {
		options.Version = os.Getenv("VERSION")
	}
	return &Client{
		CustomAttributeDefinitions: customattributedefinitions.NewClient(opts...),
		Groups:                     groups.NewClient(opts...),
		Segments:                   segments.NewClient(opts...),
		Cards:                      cards.NewClient(opts...),
		CustomAttributes:           customattributes.NewClient(opts...),
		WithRawResponse:            NewRawClient(options),
		baseURL:                    options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:      options.HTTPClient,
				MaxAttempts: options.MaxAttempts,
			},
		),
		header: options.ToHeader(),
	}
}

// Lists customer profiles associated with a Square account.
//
// Under normal operating conditions, newly created or updated customer profiles become available
// for the listing operation in well under 30 seconds. Occasionally, propagation of the new or updated
// profiles can take closer to one minute or longer, especially during network incidents and outages.
func (c *Client) List(
	ctx context.Context,
	request *v2.ListCustomersRequest,
	opts ...option.RequestOption,
) (*core.Page[*v2.Customer], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://connect.squareup.com",
	)
	endpointURL := baseURL + "/v2/customers"
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.header.Clone(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *internal.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("cursor", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
		}
	}
	readPageResponse := func(response *v2.ListCustomersResponse) *internal.PageResponse[*string, *v2.Customer] {
		var zeroValue *string
		next := response.GetCursor()
		results := response.GetCustomers()
		return &internal.PageResponse[*string, *v2.Customer]{
			Next:    next,
			Results: results,
			Done:    next == zeroValue,
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.Cursor)
}

// Creates a new customer for a business.
//
// You must provide at least one of the following values in your request to this
// endpoint:
//
// - `given_name`
// - `family_name`
// - `company_name`
// - `email_address`
// - `phone_number`
func (c *Client) Create(
	ctx context.Context,
	request *v2.CreateCustomerRequest,
	opts ...option.RequestOption,
) (*v2.CreateCustomerResponse, error) {
	response, err := c.WithRawResponse.Create(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Creates multiple [customer profiles](entity:Customer) for a business.
//
// This endpoint takes a map of individual create requests and returns a map of responses.
//
// You must provide at least one of the following values in each create request:
//
// - `given_name`
// - `family_name`
// - `company_name`
// - `email_address`
// - `phone_number`
func (c *Client) BatchCreate(
	ctx context.Context,
	request *v2.BulkCreateCustomersRequest,
	opts ...option.RequestOption,
) (*v2.BulkCreateCustomersResponse, error) {
	response, err := c.WithRawResponse.BatchCreate(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Deletes multiple customer profiles.
//
// The endpoint takes a list of customer IDs and returns a map of responses.
func (c *Client) BulkDeleteCustomers(
	ctx context.Context,
	request *v2.BulkDeleteCustomersRequest,
	opts ...option.RequestOption,
) (*v2.BulkDeleteCustomersResponse, error) {
	response, err := c.WithRawResponse.BulkDeleteCustomers(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Retrieves multiple customer profiles.
//
// This endpoint takes a list of customer IDs and returns a map of responses.
func (c *Client) BulkRetrieveCustomers(
	ctx context.Context,
	request *v2.BulkRetrieveCustomersRequest,
	opts ...option.RequestOption,
) (*v2.BulkRetrieveCustomersResponse, error) {
	response, err := c.WithRawResponse.BulkRetrieveCustomers(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Updates multiple customer profiles.
//
// This endpoint takes a map of individual update requests and returns a map of responses.
func (c *Client) BulkUpdateCustomers(
	ctx context.Context,
	request *v2.BulkUpdateCustomersRequest,
	opts ...option.RequestOption,
) (*v2.BulkUpdateCustomersResponse, error) {
	response, err := c.WithRawResponse.BulkUpdateCustomers(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Searches the customer profiles associated with a Square account using one or more supported query filters.
//
// Calling `SearchCustomers` without any explicit query filter returns all
// customer profiles ordered alphabetically based on `given_name` and
// `family_name`.
//
// Under normal operating conditions, newly created or updated customer profiles become available
// for the search operation in well under 30 seconds. Occasionally, propagation of the new or updated
// profiles can take closer to one minute or longer, especially during network incidents and outages.
func (c *Client) Search(
	ctx context.Context,
	request *v2.SearchCustomersRequest,
	opts ...option.RequestOption,
) (*v2.SearchCustomersResponse, error) {
	response, err := c.WithRawResponse.Search(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Returns details for a single customer.
func (c *Client) Get(
	ctx context.Context,
	request *v2.GetCustomersRequest,
	opts ...option.RequestOption,
) (*v2.GetCustomerResponse, error) {
	response, err := c.WithRawResponse.Get(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Updates a customer profile. This endpoint supports sparse updates, so only new or changed fields are required in the request.
// To add or update a field, specify the new value. To remove a field, specify `null`.
//
// To update a customer profile that was created by merging existing profiles, you must use the ID of the newly created profile.
func (c *Client) Update(
	ctx context.Context,
	request *v2.UpdateCustomerRequest,
	opts ...option.RequestOption,
) (*v2.UpdateCustomerResponse, error) {
	response, err := c.WithRawResponse.Update(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Deletes a customer profile from a business.
//
// To delete a customer profile that was created by merging existing profiles, you must use the ID of the newly created profile.
func (c *Client) Delete(
	ctx context.Context,
	request *v2.DeleteCustomersRequest,
	opts ...option.RequestOption,
) (*v2.DeleteCustomerResponse, error) {
	response, err := c.WithRawResponse.Delete(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
