// Code generated by Fern. DO NOT EDIT.

package promotions

import (
	context "context"
	square "github.com/square/square-go-sdk/v2"
	core "github.com/square/square-go-sdk/v2/core"
	internal "github.com/square/square-go-sdk/v2/internal"
	programs "github.com/square/square-go-sdk/v2/loyalty/programs"
	option "github.com/square/square-go-sdk/v2/option"
	http "net/http"
	os "os"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	if options.Token == "" {
		options.Token = os.Getenv("SQUARE_TOKEN")
	}
	if options.Version == "" {
		options.Version = os.Getenv("VERSION")
	}
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:      options.HTTPClient,
				MaxAttempts: options.MaxAttempts,
			},
		),
	}
}

// Lists the loyalty promotions associated with a [loyalty program](entity:LoyaltyProgram).
// Results are sorted by the `created_at` date in descending order (newest to oldest).
func (c *Client) List(
	ctx context.Context,
	request *programs.ListPromotionsRequest,
	opts ...option.RequestOption,
) (*core.Page[*string, *square.LoyaltyPromotion, *square.ListLoyaltyPromotionsResponse], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://connect.squareup.com",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/v2/loyalty/programs/%v/promotions",
		request.ProgramID,
	)
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("cursor", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
		}
	}
	readPageResponse := func(response *square.ListLoyaltyPromotionsResponse) *core.PageResponse[*string, *square.LoyaltyPromotion, *square.ListLoyaltyPromotionsResponse] {
		var zeroValue *string
		next := response.GetCursor()
		results := response.GetLoyaltyPromotions()
		return &core.PageResponse[*string, *square.LoyaltyPromotion, *square.ListLoyaltyPromotionsResponse]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue,
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.Cursor)
}

// Creates a loyalty promotion for a [loyalty program](entity:LoyaltyProgram). A loyalty promotion
// enables buyers to earn points in addition to those earned from the base loyalty program.
//
// This endpoint sets the loyalty promotion to the `ACTIVE` or `SCHEDULED` status, depending on the
// `available_time` setting. A loyalty program can have a maximum of 10 loyalty promotions with an
// `ACTIVE` or `SCHEDULED` status.
func (c *Client) Create(
	ctx context.Context,
	request *programs.CreateLoyaltyPromotionRequest,
	opts ...option.RequestOption,
) (*square.CreateLoyaltyPromotionResponse, error) {
	response, err := c.WithRawResponse.Create(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Retrieves a loyalty promotion.
func (c *Client) Get(
	ctx context.Context,
	request *programs.GetPromotionsRequest,
	opts ...option.RequestOption,
) (*square.GetLoyaltyPromotionResponse, error) {
	response, err := c.WithRawResponse.Get(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Cancels a loyalty promotion. Use this endpoint to cancel an `ACTIVE` promotion earlier than the
// end date, cancel an `ACTIVE` promotion when an end date is not specified, or cancel a `SCHEDULED` promotion.
// Because updating a promotion is not supported, you can also use this endpoint to cancel a promotion before
// you create a new one.
//
// This endpoint sets the loyalty promotion to the `CANCELED` state
func (c *Client) Cancel(
	ctx context.Context,
	request *programs.CancelPromotionsRequest,
	opts ...option.RequestOption,
) (*square.CancelLoyaltyPromotionResponse, error) {
	response, err := c.WithRawResponse.Cancel(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
