// This file was auto-generated by Fern from our API Definition.

package inventory

import (
	context "context"
	squaregosdk "github.com/square/square-go-sdk"
	core "github.com/square/square-go-sdk/core"
	internal "github.com/square/square-go-sdk/internal"
	option "github.com/square/square-go-sdk/option"
	http "net/http"
	os "os"
)

type Client struct {
	baseURL string
	caller  *internal.Caller
	header  http.Header
}

func NewClient(opts ...option.RequestOption) *Client {
	options := core.NewRequestOptions(opts...)
	if options.Token == "" {
		options.Token = os.Getenv("SQUARE_TOKEN")
	}
	if options.Version == "" {
		options.Version = os.Getenv("VERSION")
	}
	return &Client{
		baseURL: options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:      options.HTTPClient,
				MaxAttempts: options.MaxAttempts,
			},
		),
		header: options.ToHeader(),
	}
}

// Deprecated version of [RetrieveInventoryAdjustment](api-endpoint:Inventory-RetrieveInventoryAdjustment) after the endpoint URL
// is updated to conform to the standard convention.
func (c *Client) DeprecatedGetAdjustment(
	ctx context.Context,
	// ID of the [InventoryAdjustment](entity:InventoryAdjustment) to retrieve.
	adjustmentID string,
	opts ...option.RequestOption,
) (*squaregosdk.GetInventoryAdjustmentResponse, error) {
	options := core.NewRequestOptions(opts...)

	baseURL := "https://connect.squareupsandbox.com"
	if c.baseURL != "" {
		baseURL = c.baseURL
	}
	if options.BaseURL != "" {
		baseURL = options.BaseURL
	}
	endpointURL := internal.EncodeURL(baseURL+"/v2/inventory/adjustment/%v", adjustmentID)

	headers := internal.MergeHeaders(c.header.Clone(), options.ToHeader())

	var response *squaregosdk.GetInventoryAdjustmentResponse
	if err := c.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodGet,
			MaxAttempts:     options.MaxAttempts,
			Headers:         headers,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        &response,
		},
	); err != nil {
		return nil, err
	}
	return response, nil
}

// Returns the [InventoryAdjustment](entity:InventoryAdjustment) object
// with the provided `adjustment_id`.
func (c *Client) GetAdjustment(
	ctx context.Context,
	// ID of the [InventoryAdjustment](entity:InventoryAdjustment) to retrieve.
	adjustmentID string,
	opts ...option.RequestOption,
) (*squaregosdk.GetInventoryAdjustmentResponse, error) {
	options := core.NewRequestOptions(opts...)

	baseURL := "https://connect.squareupsandbox.com"
	if c.baseURL != "" {
		baseURL = c.baseURL
	}
	if options.BaseURL != "" {
		baseURL = options.BaseURL
	}
	endpointURL := internal.EncodeURL(baseURL+"/v2/inventory/adjustments/%v", adjustmentID)

	headers := internal.MergeHeaders(c.header.Clone(), options.ToHeader())

	var response *squaregosdk.GetInventoryAdjustmentResponse
	if err := c.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodGet,
			MaxAttempts:     options.MaxAttempts,
			Headers:         headers,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        &response,
		},
	); err != nil {
		return nil, err
	}
	return response, nil
}

// Deprecated version of [BatchChangeInventory](api-endpoint:Inventory-BatchChangeInventory) after the endpoint URL
// is updated to conform to the standard convention.
func (c *Client) DeprecatedBatchChange(
	ctx context.Context,
	request *squaregosdk.BatchChangeInventoryRequest,
	opts ...option.RequestOption,
) (*squaregosdk.BatchChangeInventoryResponse, error) {
	options := core.NewRequestOptions(opts...)

	baseURL := "https://connect.squareupsandbox.com"
	if c.baseURL != "" {
		baseURL = c.baseURL
	}
	if options.BaseURL != "" {
		baseURL = options.BaseURL
	}
	endpointURL := baseURL + "/v2/inventory/batch-change"

	headers := internal.MergeHeaders(c.header.Clone(), options.ToHeader())
	headers.Set("Content-Type", "application/json")

	var response *squaregosdk.BatchChangeInventoryResponse
	if err := c.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodPost,
			MaxAttempts:     options.MaxAttempts,
			Headers:         headers,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Request:         request,
			Response:        &response,
		},
	); err != nil {
		return nil, err
	}
	return response, nil
}

// Deprecated version of [BatchRetrieveInventoryChanges](api-endpoint:Inventory-BatchRetrieveInventoryChanges) after the endpoint URL
// is updated to conform to the standard convention.
func (c *Client) DeprecatedBatchGetChanges(
	ctx context.Context,
	request *squaregosdk.BatchRetrieveInventoryChangesRequest,
	opts ...option.RequestOption,
) (*squaregosdk.BatchGetInventoryChangesResponse, error) {
	options := core.NewRequestOptions(opts...)

	baseURL := "https://connect.squareupsandbox.com"
	if c.baseURL != "" {
		baseURL = c.baseURL
	}
	if options.BaseURL != "" {
		baseURL = options.BaseURL
	}
	endpointURL := baseURL + "/v2/inventory/batch-retrieve-changes"

	headers := internal.MergeHeaders(c.header.Clone(), options.ToHeader())
	headers.Set("Content-Type", "application/json")

	var response *squaregosdk.BatchGetInventoryChangesResponse
	if err := c.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodPost,
			MaxAttempts:     options.MaxAttempts,
			Headers:         headers,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Request:         request,
			Response:        &response,
		},
	); err != nil {
		return nil, err
	}
	return response, nil
}

// Deprecated version of [BatchRetrieveInventoryCounts](api-endpoint:Inventory-BatchRetrieveInventoryCounts) after the endpoint URL
// is updated to conform to the standard convention.
func (c *Client) DeprecatedBatchGetCounts(
	ctx context.Context,
	request *squaregosdk.BatchGetInventoryCountsRequest,
	opts ...option.RequestOption,
) (*squaregosdk.BatchGetInventoryCountsResponse, error) {
	options := core.NewRequestOptions(opts...)

	baseURL := "https://connect.squareupsandbox.com"
	if c.baseURL != "" {
		baseURL = c.baseURL
	}
	if options.BaseURL != "" {
		baseURL = options.BaseURL
	}
	endpointURL := baseURL + "/v2/inventory/batch-retrieve-counts"

	headers := internal.MergeHeaders(c.header.Clone(), options.ToHeader())
	headers.Set("Content-Type", "application/json")

	var response *squaregosdk.BatchGetInventoryCountsResponse
	if err := c.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodPost,
			MaxAttempts:     options.MaxAttempts,
			Headers:         headers,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Request:         request,
			Response:        &response,
		},
	); err != nil {
		return nil, err
	}
	return response, nil
}

// Applies adjustments and counts to the provided item quantities.
//
// On success: returns the current calculated counts for all objects
// referenced in the request.
// On failure: returns a list of related errors.
func (c *Client) BatchCreateChanges(
	ctx context.Context,
	request *squaregosdk.BatchChangeInventoryRequest,
	opts ...option.RequestOption,
) (*squaregosdk.BatchChangeInventoryResponse, error) {
	options := core.NewRequestOptions(opts...)

	baseURL := "https://connect.squareupsandbox.com"
	if c.baseURL != "" {
		baseURL = c.baseURL
	}
	if options.BaseURL != "" {
		baseURL = options.BaseURL
	}
	endpointURL := baseURL + "/v2/inventory/changes/batch-create"

	headers := internal.MergeHeaders(c.header.Clone(), options.ToHeader())
	headers.Set("Content-Type", "application/json")

	var response *squaregosdk.BatchChangeInventoryResponse
	if err := c.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodPost,
			MaxAttempts:     options.MaxAttempts,
			Headers:         headers,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Request:         request,
			Response:        &response,
		},
	); err != nil {
		return nil, err
	}
	return response, nil
}

// Returns historical physical counts and adjustments based on the
// provided filter criteria.
//
// Results are paginated and sorted in ascending order according their
// `occurred_at` timestamp (oldest first).
//
// BatchRetrieveInventoryChanges is a catch-all query endpoint for queries
// that cannot be handled by other, simpler endpoints.
func (c *Client) BatchGetChanges(
	ctx context.Context,
	request *squaregosdk.BatchRetrieveInventoryChangesRequest,
	opts ...option.RequestOption,
) (*squaregosdk.BatchGetInventoryChangesResponse, error) {
	options := core.NewRequestOptions(opts...)

	baseURL := "https://connect.squareupsandbox.com"
	if c.baseURL != "" {
		baseURL = c.baseURL
	}
	if options.BaseURL != "" {
		baseURL = options.BaseURL
	}
	endpointURL := baseURL + "/v2/inventory/changes/batch-retrieve"

	headers := internal.MergeHeaders(c.header.Clone(), options.ToHeader())
	headers.Set("Content-Type", "application/json")

	var response *squaregosdk.BatchGetInventoryChangesResponse
	if err := c.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodPost,
			MaxAttempts:     options.MaxAttempts,
			Headers:         headers,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Request:         request,
			Response:        &response,
		},
	); err != nil {
		return nil, err
	}
	return response, nil
}

// Returns current counts for the provided
// [CatalogObject](entity:CatalogObject)s at the requested
// [Location](entity:Location)s.
//
// Results are paginated and sorted in descending order according to their
// `calculated_at` timestamp (newest first).
//
// When `updated_after` is specified, only counts that have changed since that
// time (based on the server timestamp for the most recent change) are
// returned. This allows clients to perform a "sync" operation, for example
// in response to receiving a Webhook notification.
func (c *Client) BatchGetCounts(
	ctx context.Context,
	request *squaregosdk.BatchGetInventoryCountsRequest,
	opts ...option.RequestOption,
) (*squaregosdk.BatchGetInventoryCountsResponse, error) {
	options := core.NewRequestOptions(opts...)

	baseURL := "https://connect.squareupsandbox.com"
	if c.baseURL != "" {
		baseURL = c.baseURL
	}
	if options.BaseURL != "" {
		baseURL = options.BaseURL
	}
	endpointURL := baseURL + "/v2/inventory/counts/batch-retrieve"

	headers := internal.MergeHeaders(c.header.Clone(), options.ToHeader())
	headers.Set("Content-Type", "application/json")

	var response *squaregosdk.BatchGetInventoryCountsResponse
	if err := c.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodPost,
			MaxAttempts:     options.MaxAttempts,
			Headers:         headers,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Request:         request,
			Response:        &response,
		},
	); err != nil {
		return nil, err
	}
	return response, nil
}

// Deprecated version of [RetrieveInventoryPhysicalCount](api-endpoint:Inventory-RetrieveInventoryPhysicalCount) after the endpoint URL
// is updated to conform to the standard convention.
func (c *Client) DeprecatedGetPhysicalCount(
	ctx context.Context,
	// ID of the
	// [InventoryPhysicalCount](entity:InventoryPhysicalCount) to retrieve.
	physicalCountID string,
	opts ...option.RequestOption,
) (*squaregosdk.GetInventoryPhysicalCountResponse, error) {
	options := core.NewRequestOptions(opts...)

	baseURL := "https://connect.squareupsandbox.com"
	if c.baseURL != "" {
		baseURL = c.baseURL
	}
	if options.BaseURL != "" {
		baseURL = options.BaseURL
	}
	endpointURL := internal.EncodeURL(baseURL+"/v2/inventory/physical-count/%v", physicalCountID)

	headers := internal.MergeHeaders(c.header.Clone(), options.ToHeader())

	var response *squaregosdk.GetInventoryPhysicalCountResponse
	if err := c.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodGet,
			MaxAttempts:     options.MaxAttempts,
			Headers:         headers,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        &response,
		},
	); err != nil {
		return nil, err
	}
	return response, nil
}

// Returns the [InventoryPhysicalCount](entity:InventoryPhysicalCount)
// object with the provided `physical_count_id`.
func (c *Client) GetPhysicalCount(
	ctx context.Context,
	// ID of the
	// [InventoryPhysicalCount](entity:InventoryPhysicalCount) to retrieve.
	physicalCountID string,
	opts ...option.RequestOption,
) (*squaregosdk.GetInventoryPhysicalCountResponse, error) {
	options := core.NewRequestOptions(opts...)

	baseURL := "https://connect.squareupsandbox.com"
	if c.baseURL != "" {
		baseURL = c.baseURL
	}
	if options.BaseURL != "" {
		baseURL = options.BaseURL
	}
	endpointURL := internal.EncodeURL(baseURL+"/v2/inventory/physical-counts/%v", physicalCountID)

	headers := internal.MergeHeaders(c.header.Clone(), options.ToHeader())

	var response *squaregosdk.GetInventoryPhysicalCountResponse
	if err := c.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodGet,
			MaxAttempts:     options.MaxAttempts,
			Headers:         headers,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        &response,
		},
	); err != nil {
		return nil, err
	}
	return response, nil
}

// Returns the [InventoryTransfer](entity:InventoryTransfer) object
// with the provided `transfer_id`.
func (c *Client) GetTransfer(
	ctx context.Context,
	// ID of the [InventoryTransfer](entity:InventoryTransfer) to retrieve.
	transferID string,
	opts ...option.RequestOption,
) (*squaregosdk.GetInventoryTransferResponse, error) {
	options := core.NewRequestOptions(opts...)

	baseURL := "https://connect.squareupsandbox.com"
	if c.baseURL != "" {
		baseURL = c.baseURL
	}
	if options.BaseURL != "" {
		baseURL = options.BaseURL
	}
	endpointURL := internal.EncodeURL(baseURL+"/v2/inventory/transfers/%v", transferID)

	headers := internal.MergeHeaders(c.header.Clone(), options.ToHeader())

	var response *squaregosdk.GetInventoryTransferResponse
	if err := c.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodGet,
			MaxAttempts:     options.MaxAttempts,
			Headers:         headers,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        &response,
		},
	); err != nil {
		return nil, err
	}
	return response, nil
}

// Retrieves the current calculated stock count for a given
// [CatalogObject](entity:CatalogObject) at a given set of
// [Location](entity:Location)s. Responses are paginated and unsorted.
// For more sophisticated queries, use a batch endpoint.
func (c *Client) Get(
	ctx context.Context,
	// ID of the [CatalogObject](entity:CatalogObject) to retrieve.
	catalogObjectID string,
	request *squaregosdk.InventoryGetRequest,
	opts ...option.RequestOption,
) (*squaregosdk.GetInventoryCountResponse, error) {
	options := core.NewRequestOptions(opts...)

	baseURL := "https://connect.squareupsandbox.com"
	if c.baseURL != "" {
		baseURL = c.baseURL
	}
	if options.BaseURL != "" {
		baseURL = options.BaseURL
	}
	endpointURL := internal.EncodeURL(baseURL+"/v2/inventory/%v", catalogObjectID)

	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	if len(queryParams) > 0 {
		endpointURL += "?" + queryParams.Encode()
	}

	headers := internal.MergeHeaders(c.header.Clone(), options.ToHeader())

	var response *squaregosdk.GetInventoryCountResponse
	if err := c.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodGet,
			MaxAttempts:     options.MaxAttempts,
			Headers:         headers,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        &response,
		},
	); err != nil {
		return nil, err
	}
	return response, nil
}

// Returns a set of physical counts and inventory adjustments for the
// provided [CatalogObject](entity:CatalogObject) at the requested
// [Location](entity:Location)s.
//
// You can achieve the same result by calling [BatchRetrieveInventoryChanges](api-endpoint:Inventory-BatchRetrieveInventoryChanges)
// and having the `catalog_object_ids` list contain a single element of the `CatalogObject` ID.
//
// Results are paginated and sorted in descending order according to their
// `occurred_at` timestamp (newest first).
//
// There are no limits on how far back the caller can page. This endpoint can be
// used to display recent changes for a specific item. For more
// sophisticated queries, use a batch endpoint.
func (c *Client) Changes(
	ctx context.Context,
	// ID of the [CatalogObject](entity:CatalogObject) to retrieve.
	catalogObjectID string,
	request *squaregosdk.InventoryChangesRequest,
	opts ...option.RequestOption,
) (*squaregosdk.GetInventoryChangesResponse, error) {
	options := core.NewRequestOptions(opts...)

	baseURL := "https://connect.squareupsandbox.com"
	if c.baseURL != "" {
		baseURL = c.baseURL
	}
	if options.BaseURL != "" {
		baseURL = options.BaseURL
	}
	endpointURL := internal.EncodeURL(baseURL+"/v2/inventory/%v/changes", catalogObjectID)

	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	if len(queryParams) > 0 {
		endpointURL += "?" + queryParams.Encode()
	}

	headers := internal.MergeHeaders(c.header.Clone(), options.ToHeader())

	var response *squaregosdk.GetInventoryChangesResponse
	if err := c.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodGet,
			MaxAttempts:     options.MaxAttempts,
			Headers:         headers,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        &response,
		},
	); err != nil {
		return nil, err
	}
	return response, nil
}
