// Code generated by Fern. DO NOT EDIT.

package inventory

import (
	context "context"
	square "github.com/square/square-go-sdk/v2"
	core "github.com/square/square-go-sdk/v2/core"
	internal "github.com/square/square-go-sdk/v2/internal"
	option "github.com/square/square-go-sdk/v2/option"
	http "net/http"
	os "os"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	if options.Token == "" {
		options.Token = os.Getenv("SQUARE_TOKEN")
	}
	if options.Version == "" {
		options.Version = os.Getenv("VERSION")
	}
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:      options.HTTPClient,
				MaxAttempts: options.MaxAttempts,
			},
		),
	}
}

// Deprecated version of [RetrieveInventoryAdjustment](api-endpoint:Inventory-RetrieveInventoryAdjustment) after the endpoint URL
// is updated to conform to the standard convention.
func (c *Client) DeprecatedGetAdjustment(
	ctx context.Context,
	request *square.DeprecatedGetAdjustmentInventoryRequest,
	opts ...option.RequestOption,
) (*square.GetInventoryAdjustmentResponse, error) {
	response, err := c.WithRawResponse.DeprecatedGetAdjustment(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Returns the [InventoryAdjustment](entity:InventoryAdjustment) object
// with the provided `adjustment_id`.
func (c *Client) GetAdjustment(
	ctx context.Context,
	request *square.GetAdjustmentInventoryRequest,
	opts ...option.RequestOption,
) (*square.GetInventoryAdjustmentResponse, error) {
	response, err := c.WithRawResponse.GetAdjustment(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Deprecated version of [BatchChangeInventory](api-endpoint:Inventory-BatchChangeInventory) after the endpoint URL
// is updated to conform to the standard convention.
func (c *Client) DeprecatedBatchChange(
	ctx context.Context,
	request *square.BatchChangeInventoryRequest,
	opts ...option.RequestOption,
) (*square.BatchChangeInventoryResponse, error) {
	response, err := c.WithRawResponse.DeprecatedBatchChange(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Deprecated version of [BatchRetrieveInventoryChanges](api-endpoint:Inventory-BatchRetrieveInventoryChanges) after the endpoint URL
// is updated to conform to the standard convention.
func (c *Client) DeprecatedBatchGetChanges(
	ctx context.Context,
	request *square.BatchRetrieveInventoryChangesRequest,
	opts ...option.RequestOption,
) (*square.BatchGetInventoryChangesResponse, error) {
	response, err := c.WithRawResponse.DeprecatedBatchGetChanges(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Deprecated version of [BatchRetrieveInventoryCounts](api-endpoint:Inventory-BatchRetrieveInventoryCounts) after the endpoint URL
// is updated to conform to the standard convention.
func (c *Client) DeprecatedBatchGetCounts(
	ctx context.Context,
	request *square.BatchGetInventoryCountsRequest,
	opts ...option.RequestOption,
) (*square.BatchGetInventoryCountsResponse, error) {
	response, err := c.WithRawResponse.DeprecatedBatchGetCounts(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Applies adjustments and counts to the provided item quantities.
//
// On success: returns the current calculated counts for all objects
// referenced in the request.
// On failure: returns a list of related errors.
func (c *Client) BatchCreateChanges(
	ctx context.Context,
	request *square.BatchChangeInventoryRequest,
	opts ...option.RequestOption,
) (*square.BatchChangeInventoryResponse, error) {
	response, err := c.WithRawResponse.BatchCreateChanges(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Returns historical physical counts and adjustments based on the
// provided filter criteria.
//
// Results are paginated and sorted in ascending order according their
// `occurred_at` timestamp (oldest first).
//
// BatchRetrieveInventoryChanges is a catch-all query endpoint for queries
// that cannot be handled by other, simpler endpoints.
func (c *Client) BatchGetChanges(
	ctx context.Context,
	request *square.BatchRetrieveInventoryChangesRequest,
	opts ...option.RequestOption,
) (*square.BatchGetInventoryChangesResponse, error) {
	response, err := c.WithRawResponse.BatchGetChanges(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Returns current counts for the provided
// [CatalogObject](entity:CatalogObject)s at the requested
// [Location](entity:Location)s.
//
// Results are paginated and sorted in descending order according to their
// `calculated_at` timestamp (newest first).
//
// When `updated_after` is specified, only counts that have changed since that
// time (based on the server timestamp for the most recent change) are
// returned. This allows clients to perform a "sync" operation, for example
// in response to receiving a Webhook notification.
func (c *Client) BatchGetCounts(
	ctx context.Context,
	request *square.BatchGetInventoryCountsRequest,
	opts ...option.RequestOption,
) (*square.BatchGetInventoryCountsResponse, error) {
	response, err := c.WithRawResponse.BatchGetCounts(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Deprecated version of [RetrieveInventoryPhysicalCount](api-endpoint:Inventory-RetrieveInventoryPhysicalCount) after the endpoint URL
// is updated to conform to the standard convention.
func (c *Client) DeprecatedGetPhysicalCount(
	ctx context.Context,
	request *square.DeprecatedGetPhysicalCountInventoryRequest,
	opts ...option.RequestOption,
) (*square.GetInventoryPhysicalCountResponse, error) {
	response, err := c.WithRawResponse.DeprecatedGetPhysicalCount(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Returns the [InventoryPhysicalCount](entity:InventoryPhysicalCount)
// object with the provided `physical_count_id`.
func (c *Client) GetPhysicalCount(
	ctx context.Context,
	request *square.GetPhysicalCountInventoryRequest,
	opts ...option.RequestOption,
) (*square.GetInventoryPhysicalCountResponse, error) {
	response, err := c.WithRawResponse.GetPhysicalCount(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Returns the [InventoryTransfer](entity:InventoryTransfer) object
// with the provided `transfer_id`.
func (c *Client) GetTransfer(
	ctx context.Context,
	request *square.GetTransferInventoryRequest,
	opts ...option.RequestOption,
) (*square.GetInventoryTransferResponse, error) {
	response, err := c.WithRawResponse.GetTransfer(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Retrieves the current calculated stock count for a given
// [CatalogObject](entity:CatalogObject) at a given set of
// [Location](entity:Location)s. Responses are paginated and unsorted.
// For more sophisticated queries, use a batch endpoint.
func (c *Client) Get(
	ctx context.Context,
	request *square.GetInventoryRequest,
	opts ...option.RequestOption,
) (*core.Page[*string, *square.InventoryCount, *square.GetInventoryCountResponse], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://connect.squareup.com",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/v2/inventory/%v",
		request.CatalogObjectID,
	)
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("cursor", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
		}
	}
	readPageResponse := func(response *square.GetInventoryCountResponse) *core.PageResponse[*string, *square.InventoryCount, *square.GetInventoryCountResponse] {
		var zeroValue *string
		next := response.GetCursor()
		results := response.GetCounts()
		return &core.PageResponse[*string, *square.InventoryCount, *square.GetInventoryCountResponse]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue,
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.Cursor)
}

// Returns a set of physical counts and inventory adjustments for the
// provided [CatalogObject](entity:CatalogObject) at the requested
// [Location](entity:Location)s.
//
// You can achieve the same result by calling [BatchRetrieveInventoryChanges](api-endpoint:Inventory-BatchRetrieveInventoryChanges)
// and having the `catalog_object_ids` list contain a single element of the `CatalogObject` ID.
//
// Results are paginated and sorted in descending order according to their
// `occurred_at` timestamp (newest first).
//
// There are no limits on how far back the caller can page. This endpoint can be
// used to display recent changes for a specific item. For more
// sophisticated queries, use a batch endpoint.
func (c *Client) Changes(
	ctx context.Context,
	request *square.ChangesInventoryRequest,
	opts ...option.RequestOption,
) (*core.Page[*string, *square.InventoryChange, *square.GetInventoryChangesResponse], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://connect.squareup.com",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/v2/inventory/%v/changes",
		request.CatalogObjectID,
	)
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("cursor", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
		}
	}
	readPageResponse := func(response *square.GetInventoryChangesResponse) *core.PageResponse[*string, *square.InventoryChange, *square.GetInventoryChangesResponse] {
		var zeroValue *string
		next := response.GetCursor()
		results := response.GetChanges()
		return &core.PageResponse[*string, *square.InventoryChange, *square.GetInventoryChangesResponse]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue,
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.Cursor)
}
