// Code generated by Fern. DO NOT EDIT.

package refunds

import (
	context "context"
	square "github.com/square/square-go-sdk/v2"
	core "github.com/square/square-go-sdk/v2/core"
	internal "github.com/square/square-go-sdk/v2/internal"
	option "github.com/square/square-go-sdk/v2/option"
	http "net/http"
	os "os"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	if options.Token == "" {
		options.Token = os.Getenv("SQUARE_TOKEN")
	}
	if options.Version == "" {
		options.Version = os.Getenv("VERSION")
	}
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:      options.HTTPClient,
				MaxAttempts: options.MaxAttempts,
			},
		),
	}
}

// Retrieves a list of refunds for the account making the request.
//
// Results are eventually consistent, and new refunds or changes to refunds might take several
// seconds to appear.
//
// The maximum results per page is 100.
func (c *Client) List(
	ctx context.Context,
	request *square.ListRefundsRequest,
	opts ...option.RequestOption,
) (*core.Page[*string, *square.PaymentRefund, *square.ListPaymentRefundsResponse], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://connect.squareup.com",
	)
	endpointURL := baseURL + "/v2/refunds"
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("cursor", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
		}
	}
	readPageResponse := func(response *square.ListPaymentRefundsResponse) *core.PageResponse[*string, *square.PaymentRefund, *square.ListPaymentRefundsResponse] {
		var zeroValue *string
		next := response.GetCursor()
		results := response.GetRefunds()
		return &core.PageResponse[*string, *square.PaymentRefund, *square.ListPaymentRefundsResponse]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue,
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.Cursor)
}

// Refunds a payment. You can refund the entire payment amount or a
// portion of it. You can use this endpoint to refund a card payment or record a
// refund of a cash or external payment. For more information, see
// [Refund Payment](https://developer.squareup.com/docs/payments-api/refund-payments).
func (c *Client) RefundPayment(
	ctx context.Context,
	request *square.RefundPaymentRequest,
	opts ...option.RequestOption,
) (*square.RefundPaymentResponse, error) {
	response, err := c.WithRawResponse.RefundPayment(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Retrieves a specific refund using the `refund_id`.
func (c *Client) Get(
	ctx context.Context,
	request *square.GetRefundsRequest,
	opts ...option.RequestOption,
) (*square.GetPaymentRefundResponse, error) {
	response, err := c.WithRawResponse.Get(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
