// Code generated by Fern. DO NOT EDIT.

package client

import (
	context "context"
	v2 "github.com/square/square-go-sdk/v2"
	customattributedefinitions "github.com/square/square-go-sdk/v2/bookings/customattributedefinitions"
	customattributes "github.com/square/square-go-sdk/v2/bookings/customattributes"
	locationprofiles "github.com/square/square-go-sdk/v2/bookings/locationprofiles"
	teammemberprofiles "github.com/square/square-go-sdk/v2/bookings/teammemberprofiles"
	core "github.com/square/square-go-sdk/v2/core"
	internal "github.com/square/square-go-sdk/v2/internal"
	option "github.com/square/square-go-sdk/v2/option"
	http "net/http"
	os "os"
)

type Client struct {
	WithRawResponse            *RawClient
	CustomAttributeDefinitions *customattributedefinitions.Client
	CustomAttributes           *customattributes.Client
	LocationProfiles           *locationprofiles.Client
	TeamMemberProfiles         *teammemberprofiles.Client

	baseURL string
	caller  *internal.Caller
	header  http.Header
}

func NewClient(opts ...option.RequestOption) *Client {
	options := core.NewRequestOptions(opts...)
	if options.Token == "" {
		options.Token = os.Getenv("SQUARE_TOKEN")
	}
	if options.Version == "" {
		options.Version = os.Getenv("VERSION")
	}
	return &Client{
		CustomAttributeDefinitions: customattributedefinitions.NewClient(opts...),
		CustomAttributes:           customattributes.NewClient(opts...),
		LocationProfiles:           locationprofiles.NewClient(opts...),
		TeamMemberProfiles:         teammemberprofiles.NewClient(opts...),
		WithRawResponse:            NewRawClient(options),
		baseURL:                    options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:      options.HTTPClient,
				MaxAttempts: options.MaxAttempts,
			},
		),
		header: options.ToHeader(),
	}
}

// Retrieve a collection of bookings.
//
// To call this endpoint with buyer-level permissions, set `APPOINTMENTS_READ` for the OAuth scope.
// To call this endpoint with seller-level permissions, set `APPOINTMENTS_ALL_READ` and `APPOINTMENTS_READ` for the OAuth scope.
func (c *Client) List(
	ctx context.Context,
	request *v2.ListBookingsRequest,
	opts ...option.RequestOption,
) (*core.Page[*v2.Booking], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://connect.squareup.com",
	)
	endpointURL := baseURL + "/v2/bookings"
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.header.Clone(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *internal.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("cursor", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
		}
	}
	readPageResponse := func(response *v2.ListBookingsResponse) *internal.PageResponse[*string, *v2.Booking] {
		var zeroValue *string
		next := response.GetCursor()
		results := response.GetBookings()
		return &internal.PageResponse[*string, *v2.Booking]{
			Next:    next,
			Results: results,
			Done:    next == zeroValue,
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.Cursor)
}

// Creates a booking.
//
// The required input must include the following:
// - `Booking.location_id`
// - `Booking.start_at`
// - `Booking.AppointmentSegment.team_member_id`
// - `Booking.AppointmentSegment.service_variation_id`
// - `Booking.AppointmentSegment.service_variation_version`
//
// To call this endpoint with buyer-level permissions, set `APPOINTMENTS_WRITE` for the OAuth scope.
// To call this endpoint with seller-level permissions, set `APPOINTMENTS_ALL_WRITE` and `APPOINTMENTS_WRITE` for the OAuth scope.
//
// For calls to this endpoint with seller-level permissions to succeed, the seller must have subscribed to *Appointments Plus*
// or *Appointments Premium*.
func (c *Client) Create(
	ctx context.Context,
	request *v2.CreateBookingRequest,
	opts ...option.RequestOption,
) (*v2.CreateBookingResponse, error) {
	response, err := c.WithRawResponse.Create(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Searches for availabilities for booking.
//
// To call this endpoint with buyer-level permissions, set `APPOINTMENTS_READ` for the OAuth scope.
// To call this endpoint with seller-level permissions, set `APPOINTMENTS_ALL_READ` and `APPOINTMENTS_READ` for the OAuth scope.
func (c *Client) SearchAvailability(
	ctx context.Context,
	request *v2.SearchAvailabilityRequest,
	opts ...option.RequestOption,
) (*v2.SearchAvailabilityResponse, error) {
	response, err := c.WithRawResponse.SearchAvailability(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Bulk-Retrieves a list of bookings by booking IDs.
//
// To call this endpoint with buyer-level permissions, set `APPOINTMENTS_READ` for the OAuth scope.
// To call this endpoint with seller-level permissions, set `APPOINTMENTS_ALL_READ` and `APPOINTMENTS_READ` for the OAuth scope.
func (c *Client) BulkRetrieveBookings(
	ctx context.Context,
	request *v2.BulkRetrieveBookingsRequest,
	opts ...option.RequestOption,
) (*v2.BulkRetrieveBookingsResponse, error) {
	response, err := c.WithRawResponse.BulkRetrieveBookings(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Retrieves a seller's booking profile.
func (c *Client) GetBusinessProfile(
	ctx context.Context,
	opts ...option.RequestOption,
) (*v2.GetBusinessBookingProfileResponse, error) {
	response, err := c.WithRawResponse.GetBusinessProfile(
		ctx,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Retrieves a seller's location booking profile.
func (c *Client) RetrieveLocationBookingProfile(
	ctx context.Context,
	request *v2.RetrieveLocationBookingProfileRequest,
	opts ...option.RequestOption,
) (*v2.RetrieveLocationBookingProfileResponse, error) {
	response, err := c.WithRawResponse.RetrieveLocationBookingProfile(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Retrieves one or more team members' booking profiles.
func (c *Client) BulkRetrieveTeamMemberBookingProfiles(
	ctx context.Context,
	request *v2.BulkRetrieveTeamMemberBookingProfilesRequest,
	opts ...option.RequestOption,
) (*v2.BulkRetrieveTeamMemberBookingProfilesResponse, error) {
	response, err := c.WithRawResponse.BulkRetrieveTeamMemberBookingProfiles(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Retrieves a booking.
//
// To call this endpoint with buyer-level permissions, set `APPOINTMENTS_READ` for the OAuth scope.
// To call this endpoint with seller-level permissions, set `APPOINTMENTS_ALL_READ` and `APPOINTMENTS_READ` for the OAuth scope.
func (c *Client) Get(
	ctx context.Context,
	request *v2.GetBookingsRequest,
	opts ...option.RequestOption,
) (*v2.GetBookingResponse, error) {
	response, err := c.WithRawResponse.Get(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Updates a booking.
//
// To call this endpoint with buyer-level permissions, set `APPOINTMENTS_WRITE` for the OAuth scope.
// To call this endpoint with seller-level permissions, set `APPOINTMENTS_ALL_WRITE` and `APPOINTMENTS_WRITE` for the OAuth scope.
//
// For calls to this endpoint with seller-level permissions to succeed, the seller must have subscribed to *Appointments Plus*
// or *Appointments Premium*.
func (c *Client) Update(
	ctx context.Context,
	request *v2.UpdateBookingRequest,
	opts ...option.RequestOption,
) (*v2.UpdateBookingResponse, error) {
	response, err := c.WithRawResponse.Update(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Cancels an existing booking.
//
// To call this endpoint with buyer-level permissions, set `APPOINTMENTS_WRITE` for the OAuth scope.
// To call this endpoint with seller-level permissions, set `APPOINTMENTS_ALL_WRITE` and `APPOINTMENTS_WRITE` for the OAuth scope.
//
// For calls to this endpoint with seller-level permissions to succeed, the seller must have subscribed to *Appointments Plus*
// or *Appointments Premium*.
func (c *Client) Cancel(
	ctx context.Context,
	request *v2.CancelBookingRequest,
	opts ...option.RequestOption,
) (*v2.CancelBookingResponse, error) {
	response, err := c.WithRawResponse.Cancel(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
