// Code generated by Fern. DO NOT EDIT.

package subscriptions

import (
	context "context"
	v2 "github.com/square/square-go-sdk/v2"
	core "github.com/square/square-go-sdk/v2/core"
	internal "github.com/square/square-go-sdk/v2/internal"
	option "github.com/square/square-go-sdk/v2/option"
	webhooks "github.com/square/square-go-sdk/v2/webhooks"
	http "net/http"
	os "os"
)

type Client struct {
	WithRawResponse *RawClient

	baseURL string
	caller  *internal.Caller
	header  http.Header
}

func NewClient(opts ...option.RequestOption) *Client {
	options := core.NewRequestOptions(opts...)
	if options.Token == "" {
		options.Token = os.Getenv("SQUARE_TOKEN")
	}
	if options.Version == "" {
		options.Version = os.Getenv("VERSION")
	}
	return &Client{
		WithRawResponse: NewRawClient(options),
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:      options.HTTPClient,
				MaxAttempts: options.MaxAttempts,
			},
		),
		header: options.ToHeader(),
	}
}

// Lists all webhook subscriptions owned by your application.
func (c *Client) List(
	ctx context.Context,
	request *webhooks.ListSubscriptionsRequest,
	opts ...option.RequestOption,
) (*core.Page[*v2.WebhookSubscription], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://connect.squareup.com",
	)
	endpointURL := baseURL + "/v2/webhooks/subscriptions"
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.header.Clone(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *internal.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("cursor", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
		}
	}
	readPageResponse := func(response *v2.ListWebhookSubscriptionsResponse) *internal.PageResponse[*string, *v2.WebhookSubscription] {
		var zeroValue *string
		next := response.GetCursor()
		results := response.GetSubscriptions()
		return &internal.PageResponse[*string, *v2.WebhookSubscription]{
			Next:    next,
			Results: results,
			Done:    next == zeroValue,
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.Cursor)
}

// Creates a webhook subscription.
func (c *Client) Create(
	ctx context.Context,
	request *webhooks.CreateWebhookSubscriptionRequest,
	opts ...option.RequestOption,
) (*v2.CreateWebhookSubscriptionResponse, error) {
	response, err := c.WithRawResponse.Create(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Retrieves a webhook subscription identified by its ID.
func (c *Client) Get(
	ctx context.Context,
	request *webhooks.GetSubscriptionsRequest,
	opts ...option.RequestOption,
) (*v2.GetWebhookSubscriptionResponse, error) {
	response, err := c.WithRawResponse.Get(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Updates a webhook subscription.
func (c *Client) Update(
	ctx context.Context,
	request *webhooks.UpdateWebhookSubscriptionRequest,
	opts ...option.RequestOption,
) (*v2.UpdateWebhookSubscriptionResponse, error) {
	response, err := c.WithRawResponse.Update(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Deletes a webhook subscription.
func (c *Client) Delete(
	ctx context.Context,
	request *webhooks.DeleteSubscriptionsRequest,
	opts ...option.RequestOption,
) (*v2.DeleteWebhookSubscriptionResponse, error) {
	response, err := c.WithRawResponse.Delete(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Updates a webhook subscription by replacing the existing signature key with a new one.
func (c *Client) UpdateSignatureKey(
	ctx context.Context,
	request *webhooks.UpdateWebhookSubscriptionSignatureKeyRequest,
	opts ...option.RequestOption,
) (*v2.UpdateWebhookSubscriptionSignatureKeyResponse, error) {
	response, err := c.WithRawResponse.UpdateSignatureKey(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Tests a webhook subscription by sending a test event to the notification URL.
func (c *Client) Test(
	ctx context.Context,
	request *webhooks.TestWebhookSubscriptionRequest,
	opts ...option.RequestOption,
) (*v2.TestWebhookSubscriptionResponse, error) {
	response, err := c.WithRawResponse.Test(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
