// Code generated by Fern. DO NOT EDIT.

package paymentlinks

import (
	context "context"
	v2 "github.com/square/square-go-sdk/v2"
	checkout "github.com/square/square-go-sdk/v2/checkout"
	core "github.com/square/square-go-sdk/v2/core"
	internal "github.com/square/square-go-sdk/v2/internal"
	option "github.com/square/square-go-sdk/v2/option"
	http "net/http"
	os "os"
)

type Client struct {
	WithRawResponse *RawClient

	baseURL string
	caller  *internal.Caller
	header  http.Header
}

func NewClient(opts ...option.RequestOption) *Client {
	options := core.NewRequestOptions(opts...)
	if options.Token == "" {
		options.Token = os.Getenv("SQUARE_TOKEN")
	}
	if options.Version == "" {
		options.Version = os.Getenv("VERSION")
	}
	return &Client{
		WithRawResponse: NewRawClient(options),
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:      options.HTTPClient,
				MaxAttempts: options.MaxAttempts,
			},
		),
		header: options.ToHeader(),
	}
}

// Lists all payment links.
func (c *Client) List(
	ctx context.Context,
	request *checkout.ListPaymentLinksRequest,
	opts ...option.RequestOption,
) (*core.Page[*v2.PaymentLink], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://connect.squareup.com",
	)
	endpointURL := baseURL + "/v2/online-checkout/payment-links"
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.header.Clone(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *internal.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("cursor", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
		}
	}
	readPageResponse := func(response *v2.ListPaymentLinksResponse) *internal.PageResponse[*string, *v2.PaymentLink] {
		var zeroValue *string
		next := response.GetCursor()
		results := response.GetPaymentLinks()
		return &internal.PageResponse[*string, *v2.PaymentLink]{
			Next:    next,
			Results: results,
			Done:    next == zeroValue,
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.Cursor)
}

// Creates a Square-hosted checkout page. Applications can share the resulting payment link with their buyer to pay for goods and services.
func (c *Client) Create(
	ctx context.Context,
	request *checkout.CreatePaymentLinkRequest,
	opts ...option.RequestOption,
) (*v2.CreatePaymentLinkResponse, error) {
	response, err := c.WithRawResponse.Create(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Retrieves a payment link.
func (c *Client) Get(
	ctx context.Context,
	request *checkout.GetPaymentLinksRequest,
	opts ...option.RequestOption,
) (*v2.GetPaymentLinkResponse, error) {
	response, err := c.WithRawResponse.Get(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Updates a payment link. You can update the `payment_link` fields such as
// `description`, `checkout_options`, and  `pre_populated_data`.
// You cannot update other fields such as the `order_id`, `version`, `URL`, or `timestamp` field.
func (c *Client) Update(
	ctx context.Context,
	request *checkout.UpdatePaymentLinkRequest,
	opts ...option.RequestOption,
) (*v2.UpdatePaymentLinkResponse, error) {
	response, err := c.WithRawResponse.Update(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Deletes a payment link.
func (c *Client) Delete(
	ctx context.Context,
	request *checkout.DeletePaymentLinksRequest,
	opts ...option.RequestOption,
) (*v2.DeletePaymentLinkResponse, error) {
	response, err := c.WithRawResponse.Delete(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
