// Code generated by Fern. DO NOT EDIT.

package client

import (
	context "context"
	fmt "fmt"
	square "github.com/square/square-go-sdk/v2"
	core "github.com/square/square-go-sdk/v2/core"
	internal "github.com/square/square-go-sdk/v2/internal"
	customattributedefinitions "github.com/square/square-go-sdk/v2/merchants/customattributedefinitions"
	customattributes "github.com/square/square-go-sdk/v2/merchants/customattributes"
	option "github.com/square/square-go-sdk/v2/option"
	http "net/http"
	os "os"
)

type Client struct {
	WithRawResponse            *RawClient
	CustomAttributeDefinitions *customattributedefinitions.Client
	CustomAttributes           *customattributes.Client

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	if options.Token == "" {
		options.Token = os.Getenv("SQUARE_TOKEN")
	}
	if options.Version == "" {
		options.Version = os.Getenv("VERSION")
	}
	return &Client{
		CustomAttributeDefinitions: customattributedefinitions.NewClient(options),
		CustomAttributes:           customattributes.NewClient(options),
		WithRawResponse:            NewRawClient(options),
		options:                    options,
		baseURL:                    options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:      options.HTTPClient,
				MaxAttempts: options.MaxAttempts,
			},
		),
	}
}

// Provides details about the merchant associated with a given access token.
//
// The access token used to connect your application to a Square seller is associated
// with a single merchant. That means that `ListMerchants` returns a list
// with a single `Merchant` object. You can specify your personal access token
// to get your own merchant information or specify an OAuth token to get the
// information for the merchant that granted your application access.
//
// If you know the merchant ID, you can also use the [RetrieveMerchant](api-endpoint:Merchants-RetrieveMerchant)
// endpoint to retrieve the merchant information.
func (c *Client) List(
	ctx context.Context,
	request *square.ListMerchantsRequest,
	opts ...option.RequestOption,
) (*core.Page[*int, *square.Merchant, *square.ListMerchantsResponse], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://connect.squareup.com",
	)
	endpointURL := baseURL + "/v2/merchants"
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *core.PageRequest[*int]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("cursor", fmt.Sprintf("%v", *pageRequest.Cursor))
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
		}
	}
	readPageResponse := func(response *square.ListMerchantsResponse) *core.PageResponse[*int, *square.Merchant, *square.ListMerchantsResponse] {
		var zeroValue *int
		next := response.GetCursor()
		results := response.GetMerchant()
		return &core.PageResponse[*int, *square.Merchant, *square.ListMerchantsResponse]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue,
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.Cursor)
}

// Retrieves the `Merchant` object for the given `merchant_id`.
func (c *Client) Get(
	ctx context.Context,
	request *square.GetMerchantsRequest,
	opts ...option.RequestOption,
) (*square.GetMerchantResponse, error) {
	response, err := c.WithRawResponse.Get(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
