// Code generated by Fern. DO NOT EDIT.

package shifts

import (
	context "context"
	square "github.com/square/square-go-sdk/v2"
	cashdrawers "github.com/square/square-go-sdk/v2/cashdrawers"
	core "github.com/square/square-go-sdk/v2/core"
	internal "github.com/square/square-go-sdk/v2/internal"
	option "github.com/square/square-go-sdk/v2/option"
	http "net/http"
	os "os"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	if options.Token == "" {
		options.Token = os.Getenv("SQUARE_TOKEN")
	}
	if options.Version == "" {
		options.Version = os.Getenv("VERSION")
	}
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:      options.HTTPClient,
				MaxAttempts: options.MaxAttempts,
			},
		),
	}
}

// Provides the details for all of the cash drawer shifts for a location
// in a date range.
func (c *Client) List(
	ctx context.Context,
	request *cashdrawers.ListShiftsRequest,
	opts ...option.RequestOption,
) (*core.Page[*string, *square.CashDrawerShiftSummary, *square.ListCashDrawerShiftsResponse], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://connect.squareup.com",
	)
	endpointURL := baseURL + "/v2/cash-drawers/shifts"
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("cursor", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
		}
	}
	readPageResponse := func(response *square.ListCashDrawerShiftsResponse) *core.PageResponse[*string, *square.CashDrawerShiftSummary, *square.ListCashDrawerShiftsResponse] {
		var zeroValue *string
		next := response.GetCursor()
		results := response.GetCashDrawerShifts()
		return &core.PageResponse[*string, *square.CashDrawerShiftSummary, *square.ListCashDrawerShiftsResponse]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue,
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.Cursor)
}

// Provides the summary details for a single cash drawer shift. See
// [ListCashDrawerShiftEvents](api-endpoint:CashDrawers-ListCashDrawerShiftEvents) for a list of cash drawer shift events.
func (c *Client) Get(
	ctx context.Context,
	request *cashdrawers.GetShiftsRequest,
	opts ...option.RequestOption,
) (*square.GetCashDrawerShiftResponse, error) {
	response, err := c.WithRawResponse.Get(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Provides a paginated list of events for a single cash drawer shift.
func (c *Client) ListEvents(
	ctx context.Context,
	request *cashdrawers.ListEventsShiftsRequest,
	opts ...option.RequestOption,
) (*core.Page[*string, *square.CashDrawerShiftEvent, *square.ListCashDrawerShiftEventsResponse], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://connect.squareup.com",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/v2/cash-drawers/shifts/%v/events",
		request.ShiftID,
	)
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("cursor", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
		}
	}
	readPageResponse := func(response *square.ListCashDrawerShiftEventsResponse) *core.PageResponse[*string, *square.CashDrawerShiftEvent, *square.ListCashDrawerShiftEventsResponse] {
		var zeroValue *string
		next := response.GetCursor()
		results := response.GetCashDrawerShiftEvents()
		return &core.PageResponse[*string, *square.CashDrawerShiftEvent, *square.ListCashDrawerShiftEventsResponse]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue,
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.Cursor)
}
