// Code generated by Fern. DO NOT EDIT.

package customattributedefinitions

import (
	context "context"
	square "github.com/square/square-go-sdk/v2"
	core "github.com/square/square-go-sdk/v2/core"
	internal "github.com/square/square-go-sdk/v2/internal"
	locations "github.com/square/square-go-sdk/v2/locations"
	option "github.com/square/square-go-sdk/v2/option"
	http "net/http"
	os "os"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	if options.Token == "" {
		options.Token = os.Getenv("SQUARE_TOKEN")
	}
	if options.Version == "" {
		options.Version = os.Getenv("VERSION")
	}
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:      options.HTTPClient,
				MaxAttempts: options.MaxAttempts,
			},
		),
	}
}

// Lists the location-related [custom attribute definitions](entity:CustomAttributeDefinition) that belong to a Square seller account.
// When all response pages are retrieved, the results include all custom attribute definitions
// that are visible to the requesting application, including those that are created by other
// applications and set to `VISIBILITY_READ_ONLY` or `VISIBILITY_READ_WRITE_VALUES`.
func (c *Client) List(
	ctx context.Context,
	request *locations.ListCustomAttributeDefinitionsRequest,
	opts ...option.RequestOption,
) (*core.Page[*string, *square.CustomAttributeDefinition, *square.ListLocationCustomAttributeDefinitionsResponse], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://connect.squareup.com",
	)
	endpointURL := baseURL + "/v2/locations/custom-attribute-definitions"
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("cursor", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
		}
	}
	readPageResponse := func(response *square.ListLocationCustomAttributeDefinitionsResponse) *core.PageResponse[*string, *square.CustomAttributeDefinition, *square.ListLocationCustomAttributeDefinitionsResponse] {
		var zeroValue *string
		next := response.GetCursor()
		results := response.GetCustomAttributeDefinitions()
		return &core.PageResponse[*string, *square.CustomAttributeDefinition, *square.ListLocationCustomAttributeDefinitionsResponse]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue,
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.Cursor)
}

// Creates a location-related [custom attribute definition](entity:CustomAttributeDefinition) for a Square seller account.
// Use this endpoint to define a custom attribute that can be associated with locations.
// A custom attribute definition specifies the `key`, `visibility`, `schema`, and other properties
// for a custom attribute. After the definition is created, you can call
// [UpsertLocationCustomAttribute](api-endpoint:LocationCustomAttributes-UpsertLocationCustomAttribute) or
// [BulkUpsertLocationCustomAttributes](api-endpoint:LocationCustomAttributes-BulkUpsertLocationCustomAttributes)
// to set the custom attribute for locations.
func (c *Client) Create(
	ctx context.Context,
	request *locations.CreateLocationCustomAttributeDefinitionRequest,
	opts ...option.RequestOption,
) (*square.CreateLocationCustomAttributeDefinitionResponse, error) {
	response, err := c.WithRawResponse.Create(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Retrieves a location-related [custom attribute definition](entity:CustomAttributeDefinition) from a Square seller account.
// To retrieve a custom attribute definition created by another application, the `visibility`
// setting must be `VISIBILITY_READ_ONLY` or `VISIBILITY_READ_WRITE_VALUES`.
func (c *Client) Get(
	ctx context.Context,
	request *locations.GetCustomAttributeDefinitionsRequest,
	opts ...option.RequestOption,
) (*square.RetrieveLocationCustomAttributeDefinitionResponse, error) {
	response, err := c.WithRawResponse.Get(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Updates a location-related [custom attribute definition](entity:CustomAttributeDefinition) for a Square seller account.
// Use this endpoint to update the following fields: `name`, `description`, `visibility`, or the
// `schema` for a `Selection` data type.
// Only the definition owner can update a custom attribute definition.
func (c *Client) Update(
	ctx context.Context,
	request *locations.UpdateLocationCustomAttributeDefinitionRequest,
	opts ...option.RequestOption,
) (*square.UpdateLocationCustomAttributeDefinitionResponse, error) {
	response, err := c.WithRawResponse.Update(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Deletes a location-related [custom attribute definition](entity:CustomAttributeDefinition) from a Square seller account.
// Deleting a custom attribute definition also deletes the corresponding custom attribute from
// all locations.
// Only the definition owner can delete a custom attribute definition.
func (c *Client) Delete(
	ctx context.Context,
	request *locations.DeleteCustomAttributeDefinitionsRequest,
	opts ...option.RequestOption,
) (*square.DeleteLocationCustomAttributeDefinitionResponse, error) {
	response, err := c.WithRawResponse.Delete(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
