// This file was auto-generated by Fern from our API Definition.

package oauth

import (
	context "context"
	squaregosdk "github.com/square/square-go-sdk"
	core "github.com/square/square-go-sdk/core"
	internal "github.com/square/square-go-sdk/internal"
	option "github.com/square/square-go-sdk/option"
	http "net/http"
	os "os"
)

type Client struct {
	baseURL string
	caller  *internal.Caller
	header  http.Header
}

func NewClient(opts ...option.RequestOption) *Client {
	options := core.NewRequestOptions(opts...)
	if options.Token == "" {
		options.Token = os.Getenv("SQUARE_TOKEN")
	}
	if options.Version == "" {
		options.Version = os.Getenv("VERSION")
	}
	return &Client{
		baseURL: options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:      options.HTTPClient,
				MaxAttempts: options.MaxAttempts,
			},
		),
		header: options.ToHeader(),
	}
}

// Revokes an access token generated with the OAuth flow.
//
// If an account has more than one OAuth access token for your application, this
// endpoint revokes all of them, regardless of which token you specify.
//
// **Important:** The `Authorization` header for this endpoint must have the
// following format:
//
// ```
// Authorization: Client APPLICATION_SECRET
// ```
//
// Replace `APPLICATION_SECRET` with the application secret on the **OAuth**
// page for your application in the Developer Dashboard.
func (c *Client) RevokeToken(
	ctx context.Context,
	request *squaregosdk.RevokeTokenRequest,
	opts ...option.RequestOption,
) (*squaregosdk.RevokeTokenResponse, error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://connect.squareupsandbox.com",
	)
	endpointURL := baseURL + "/oauth2/revoke"
	headers := internal.MergeHeaders(
		c.header.Clone(),
		options.ToHeader(),
	)
	headers.Set("Content-Type", "application/json")

	var response *squaregosdk.RevokeTokenResponse
	if err := c.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodPost,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Request:         request,
			Response:        &response,
		},
	); err != nil {
		return nil, err
	}
	return response, nil
}

// Returns an OAuth access token and a refresh token unless the
// `short_lived` parameter is set to `true`, in which case the endpoint
// returns only an access token.
//
// The `grant_type` parameter specifies the type of OAuth request. If
// `grant_type` is `authorization_code`, you must include the authorization
// code you received when a seller granted you authorization. If `grant_type`
// is `refresh_token`, you must provide a valid refresh token. If you're using
// an old version of the Square APIs (prior to March 13, 2019), `grant_type`
// can be `migration_token` and you must provide a valid migration token.
//
// You can use the `scopes` parameter to limit the set of permissions granted
// to the access token and refresh token. You can use the `short_lived` parameter
// to create an access token that expires in 24 hours.
//
// **Note:** OAuth tokens should be encrypted and stored on a secure server.
// Application clients should never interact directly with OAuth tokens.
func (c *Client) ObtainToken(
	ctx context.Context,
	request *squaregosdk.ObtainTokenRequest,
	opts ...option.RequestOption,
) (*squaregosdk.ObtainTokenResponse, error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://connect.squareupsandbox.com",
	)
	endpointURL := baseURL + "/oauth2/token"
	headers := internal.MergeHeaders(
		c.header.Clone(),
		options.ToHeader(),
	)
	headers.Set("Content-Type", "application/json")

	var response *squaregosdk.ObtainTokenResponse
	if err := c.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodPost,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Request:         request,
			Response:        &response,
		},
	); err != nil {
		return nil, err
	}
	return response, nil
}

// Returns information about an [OAuth access token](https://developer.squareup.com/docs/build-basics/access-tokens#get-an-oauth-access-token) or an application’s [personal access token](https://developer.squareup.com/docs/build-basics/access-tokens#get-a-personal-access-token).
//
// Add the access token to the Authorization header of the request.
//
// **Important:** The `Authorization` header you provide to this endpoint must have the following format:
//
// ```
// Authorization: Bearer ACCESS_TOKEN
// ```
//
// where `ACCESS_TOKEN` is a
// [valid production authorization credential](https://developer.squareup.com/docs/build-basics/access-tokens).
//
// If the access token is expired or not a valid access token, the endpoint returns an `UNAUTHORIZED` error.
func (c *Client) RetrieveTokenStatus(
	ctx context.Context,
	opts ...option.RequestOption,
) (*squaregosdk.RetrieveTokenStatusResponse, error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://connect.squareupsandbox.com",
	)
	endpointURL := baseURL + "/oauth2/token/status"
	headers := internal.MergeHeaders(
		c.header.Clone(),
		options.ToHeader(),
	)

	var response *squaregosdk.RetrieveTokenStatusResponse
	if err := c.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodPost,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        &response,
		},
	); err != nil {
		return nil, err
	}
	return response, nil
}

func (c *Client) Authorize(
	ctx context.Context,
	opts ...option.RequestOption,
) error {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://connect.squareupsandbox.com",
	)
	endpointURL := baseURL + "/oauth2/authorize"
	headers := internal.MergeHeaders(
		c.header.Clone(),
		options.ToHeader(),
	)

	if err := c.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
		},
	); err != nil {
		return err
	}
	return nil
}
