// This file was auto-generated by Fern from our API Definition.

package client

import (
	bytes "bytes"
	context "context"
	fmt "fmt"
	io "io"
	multipart "mime/multipart"
	http "net/http"
	os "os"

	squaregosdk "github.com/fern-demo/square-go-sdk"
	core "github.com/fern-demo/square-go-sdk/core"
	evidence "github.com/fern-demo/square-go-sdk/disputes/evidence"
	option "github.com/fern-demo/square-go-sdk/option"
)

type Client struct {
	baseURL string
	caller  *core.Caller
	header  http.Header

	Evidence *evidence.Client
}

func NewClient(opts ...option.RequestOption) *Client {
	options := core.NewRequestOptions(opts...)
	if options.Token == "" {
		options.Token = os.Getenv("SQUARE_TOKEN")
	}
	if options.Version == "" {
		options.Version = os.Getenv("VERSION")
	}
	return &Client{
		baseURL: options.BaseURL,
		caller: core.NewCaller(
			&core.CallerParams{
				Client:      options.HTTPClient,
				MaxAttempts: options.MaxAttempts,
			},
		),
		header:   options.ToHeader(),
		Evidence: evidence.NewClient(opts...),
	}
}

// Returns a list of disputes associated with a particular account.
func (c *Client) List(
	ctx context.Context,
	request *squaregosdk.DisputesListRequest,
	opts ...option.RequestOption,
) (*core.Page[*squaregosdk.Dispute], error) {
	options := core.NewRequestOptions(opts...)

	baseURL := "https://connect.squareupsandbox.com"
	if c.baseURL != "" {
		baseURL = c.baseURL
	}
	if options.BaseURL != "" {
		baseURL = options.BaseURL
	}
	endpointURL := baseURL + "/v2/disputes"

	queryParams, err := core.QueryValues(request)
	if err != nil {
		return nil, err
	}

	headers := core.MergeHeaders(c.header.Clone(), options.ToHeader())

	prepareCall := func(pageRequest *core.PageRequest[*string]) *core.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("cursor", fmt.Sprintf("%v", *pageRequest.Cursor))
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &core.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			MaxAttempts:     options.MaxAttempts,
			Headers:         headers,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
		}
	}
	readPageResponse := func(response *squaregosdk.ListDisputesResponse) *core.PageResponse[*string, *squaregosdk.Dispute] {
		next := response.Cursor
		results := response.Disputes
		return &core.PageResponse[*string, *squaregosdk.Dispute]{
			Next:    next,
			Results: results,
		}
	}
	pager := core.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.Cursor)
}

// Returns details about a specific dispute.
func (c *Client) Get(
	ctx context.Context,
	// The ID of the dispute you want more details about.
	disputeID string,
	opts ...option.RequestOption,
) (*squaregosdk.GetDisputeResponse, error) {
	options := core.NewRequestOptions(opts...)

	baseURL := "https://connect.squareupsandbox.com"
	if c.baseURL != "" {
		baseURL = c.baseURL
	}
	if options.BaseURL != "" {
		baseURL = options.BaseURL
	}
	endpointURL := core.EncodeURL(baseURL+"/v2/disputes/%v", disputeID)

	headers := core.MergeHeaders(c.header.Clone(), options.ToHeader())

	var response *squaregosdk.GetDisputeResponse
	if err := c.caller.Call(
		ctx,
		&core.CallParams{
			URL:             endpointURL,
			Method:          http.MethodGet,
			MaxAttempts:     options.MaxAttempts,
			Headers:         headers,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        &response,
		},
	); err != nil {
		return nil, err
	}
	return response, nil
}

// Accepts the loss on a dispute. Square returns the disputed amount to the cardholder and
// updates the dispute state to ACCEPTED.
//
// Square debits the disputed amount from the seller’s Square account. If the Square account
// does not have sufficient funds, Square debits the associated bank account.
func (c *Client) Accept(
	ctx context.Context,
	// The ID of the dispute you want to accept.
	disputeID string,
	opts ...option.RequestOption,
) (*squaregosdk.AcceptDisputeResponse, error) {
	options := core.NewRequestOptions(opts...)

	baseURL := "https://connect.squareupsandbox.com"
	if c.baseURL != "" {
		baseURL = c.baseURL
	}
	if options.BaseURL != "" {
		baseURL = options.BaseURL
	}
	endpointURL := core.EncodeURL(baseURL+"/v2/disputes/%v/accept", disputeID)

	headers := core.MergeHeaders(c.header.Clone(), options.ToHeader())

	var response *squaregosdk.AcceptDisputeResponse
	if err := c.caller.Call(
		ctx,
		&core.CallParams{
			URL:             endpointURL,
			Method:          http.MethodPost,
			MaxAttempts:     options.MaxAttempts,
			Headers:         headers,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        &response,
		},
	); err != nil {
		return nil, err
	}
	return response, nil
}

// Uploads a file to use as evidence in a dispute challenge. The endpoint accepts HTTP
// multipart/form-data file uploads in HEIC, HEIF, JPEG, PDF, PNG, and TIFF formats.
func (c *Client) CreateEvidenceFile(
	ctx context.Context,
	// The ID of the dispute for which you want to upload evidence.
	disputeID string,
	imageFile io.Reader,
	request *squaregosdk.DisputesCreateEvidenceFileRequest,
	opts ...option.RequestOption,
) (*squaregosdk.CreateDisputeEvidenceFileResponse, error) {
	options := core.NewRequestOptions(opts...)

	baseURL := "https://connect.squareupsandbox.com"
	if c.baseURL != "" {
		baseURL = c.baseURL
	}
	if options.BaseURL != "" {
		baseURL = options.BaseURL
	}
	endpointURL := core.EncodeURL(baseURL+"/v2/disputes/%v/evidence-files", disputeID)

	headers := core.MergeHeaders(c.header.Clone(), options.ToHeader())

	var response *squaregosdk.CreateDisputeEvidenceFileResponse
	requestBuffer := bytes.NewBuffer(nil)
	writer := multipart.NewWriter(requestBuffer)
	if imageFile != nil {
		imageFileFilename := "imageFile_filename"
		if named, ok := imageFile.(interface{ Name() string }); ok {
			imageFileFilename = named.Name()
		}
		imageFilePart, err := writer.CreateFormFile("image_file", imageFileFilename)
		if err != nil {
			return nil, err
		}
		if _, err := io.Copy(imageFilePart, imageFile); err != nil {
			return nil, err
		}
	}
	if request.Request != nil {
		if err := core.WriteMultipartJSON(writer, "request", request.Request); err != nil {
			return nil, err
		}
	}
	if err := writer.Close(); err != nil {
		return nil, err
	}
	headers.Set("Content-Type", writer.FormDataContentType())

	if err := c.caller.Call(
		ctx,
		&core.CallParams{
			URL:             endpointURL,
			Method:          http.MethodPost,
			MaxAttempts:     options.MaxAttempts,
			Headers:         headers,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Request:         requestBuffer,
			Response:        &response,
		},
	); err != nil {
		return nil, err
	}
	return response, nil
}

// Uploads text to use as evidence for a dispute challenge.
func (c *Client) CreateEvidenceText(
	ctx context.Context,
	// The ID of the dispute for which you want to upload evidence.
	disputeID string,
	request *squaregosdk.CreateDisputeEvidenceTextRequest,
	opts ...option.RequestOption,
) (*squaregosdk.CreateDisputeEvidenceTextResponse, error) {
	options := core.NewRequestOptions(opts...)

	baseURL := "https://connect.squareupsandbox.com"
	if c.baseURL != "" {
		baseURL = c.baseURL
	}
	if options.BaseURL != "" {
		baseURL = options.BaseURL
	}
	endpointURL := core.EncodeURL(baseURL+"/v2/disputes/%v/evidence-text", disputeID)

	headers := core.MergeHeaders(c.header.Clone(), options.ToHeader())

	var response *squaregosdk.CreateDisputeEvidenceTextResponse
	if err := c.caller.Call(
		ctx,
		&core.CallParams{
			URL:             endpointURL,
			Method:          http.MethodPost,
			MaxAttempts:     options.MaxAttempts,
			Headers:         headers,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Request:         request,
			Response:        &response,
		},
	); err != nil {
		return nil, err
	}
	return response, nil
}

// Submits evidence to the cardholder's bank.
//
// The evidence submitted by this endpoint includes evidence uploaded
// using the [CreateDisputeEvidenceFile]($e/Disputes/CreateDisputeEvidenceFile) and
// [CreateDisputeEvidenceText]($e/Disputes/CreateDisputeEvidenceText) endpoints and
// evidence automatically provided by Square, when available. Evidence cannot be removed from
// a dispute after submission.
func (c *Client) SubmitEvidence(
	ctx context.Context,
	// The ID of the dispute for which you want to submit evidence.
	disputeID string,
	opts ...option.RequestOption,
) (*squaregosdk.SubmitEvidenceResponse, error) {
	options := core.NewRequestOptions(opts...)

	baseURL := "https://connect.squareupsandbox.com"
	if c.baseURL != "" {
		baseURL = c.baseURL
	}
	if options.BaseURL != "" {
		baseURL = options.BaseURL
	}
	endpointURL := core.EncodeURL(baseURL+"/v2/disputes/%v/submit-evidence", disputeID)

	headers := core.MergeHeaders(c.header.Clone(), options.ToHeader())

	var response *squaregosdk.SubmitEvidenceResponse
	if err := c.caller.Call(
		ctx,
		&core.CallParams{
			URL:             endpointURL,
			Method:          http.MethodPost,
			MaxAttempts:     options.MaxAttempts,
			Headers:         headers,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        &response,
		},
	); err != nil {
		return nil, err
	}
	return response, nil
}
