// Code generated by Fern. DO NOT EDIT.

package client

import (
	context "context"
	square "github.com/square/square-go-sdk/v2"
	core "github.com/square/square-go-sdk/v2/core"
	evidence "github.com/square/square-go-sdk/v2/disputes/evidence"
	internal "github.com/square/square-go-sdk/v2/internal"
	option "github.com/square/square-go-sdk/v2/option"
	http "net/http"
	os "os"
)

type Client struct {
	WithRawResponse *RawClient
	Evidence        *evidence.Client

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	if options.Token == "" {
		options.Token = os.Getenv("SQUARE_TOKEN")
	}
	if options.Version == "" {
		options.Version = os.Getenv("VERSION")
	}
	return &Client{
		Evidence:        evidence.NewClient(options),
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:      options.HTTPClient,
				MaxAttempts: options.MaxAttempts,
			},
		),
	}
}

// Returns a list of disputes associated with a particular account.
func (c *Client) List(
	ctx context.Context,
	request *square.ListDisputesRequest,
	opts ...option.RequestOption,
) (*core.Page[*string, *square.Dispute, *square.ListDisputesResponse], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://connect.squareup.com",
	)
	endpointURL := baseURL + "/v2/disputes"
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("cursor", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
		}
	}
	readPageResponse := func(response *square.ListDisputesResponse) *core.PageResponse[*string, *square.Dispute, *square.ListDisputesResponse] {
		var zeroValue *string
		next := response.GetCursor()
		results := response.GetDisputes()
		return &core.PageResponse[*string, *square.Dispute, *square.ListDisputesResponse]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue,
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.Cursor)
}

// Returns details about a specific dispute.
func (c *Client) Get(
	ctx context.Context,
	request *square.GetDisputesRequest,
	opts ...option.RequestOption,
) (*square.GetDisputeResponse, error) {
	response, err := c.WithRawResponse.Get(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Accepts the loss on a dispute. Square returns the disputed amount to the cardholder and
// updates the dispute state to ACCEPTED.
//
// Square debits the disputed amount from the seller’s Square account. If the Square account
// does not have sufficient funds, Square debits the associated bank account.
func (c *Client) Accept(
	ctx context.Context,
	request *square.AcceptDisputesRequest,
	opts ...option.RequestOption,
) (*square.AcceptDisputeResponse, error) {
	response, err := c.WithRawResponse.Accept(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Uploads a file to use as evidence in a dispute challenge. The endpoint accepts HTTP
// multipart/form-data file uploads in HEIC, HEIF, JPEG, PDF, PNG, and TIFF formats.
func (c *Client) CreateEvidenceFile(
	ctx context.Context,
	request *square.CreateEvidenceFileDisputesRequest,
	opts ...option.RequestOption,
) (*square.CreateDisputeEvidenceFileResponse, error) {
	response, err := c.WithRawResponse.CreateEvidenceFile(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Uploads text to use as evidence for a dispute challenge.
func (c *Client) CreateEvidenceText(
	ctx context.Context,
	request *square.CreateDisputeEvidenceTextRequest,
	opts ...option.RequestOption,
) (*square.CreateDisputeEvidenceTextResponse, error) {
	response, err := c.WithRawResponse.CreateEvidenceText(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Submits evidence to the cardholder's bank.
//
// The evidence submitted by this endpoint includes evidence uploaded
// using the [CreateDisputeEvidenceFile](api-endpoint:Disputes-CreateDisputeEvidenceFile) and
// [CreateDisputeEvidenceText](api-endpoint:Disputes-CreateDisputeEvidenceText) endpoints and
// evidence automatically provided by Square, when available. Evidence cannot be removed from
// a dispute after submission.
func (c *Client) SubmitEvidence(
	ctx context.Context,
	request *square.SubmitEvidenceDisputesRequest,
	opts ...option.RequestOption,
) (*square.SubmitEvidenceResponse, error) {
	response, err := c.WithRawResponse.SubmitEvidence(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
