// Code generated by Fern. DO NOT EDIT.

package groups

import (
	context "context"
	square "github.com/square/square-go-sdk/v2"
	core "github.com/square/square-go-sdk/v2/core"
	customers "github.com/square/square-go-sdk/v2/customers"
	internal "github.com/square/square-go-sdk/v2/internal"
	option "github.com/square/square-go-sdk/v2/option"
	http "net/http"
	os "os"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	if options.Token == "" {
		options.Token = os.Getenv("SQUARE_TOKEN")
	}
	if options.Version == "" {
		options.Version = os.Getenv("VERSION")
	}
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:      options.HTTPClient,
				MaxAttempts: options.MaxAttempts,
			},
		),
	}
}

// Retrieves the list of customer groups of a business.
func (c *Client) List(
	ctx context.Context,
	request *customers.ListGroupsRequest,
	opts ...option.RequestOption,
) (*core.Page[*string, *square.CustomerGroup, *square.ListCustomerGroupsResponse], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://connect.squareup.com",
	)
	endpointURL := baseURL + "/v2/customers/groups"
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("cursor", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
		}
	}
	readPageResponse := func(response *square.ListCustomerGroupsResponse) *core.PageResponse[*string, *square.CustomerGroup, *square.ListCustomerGroupsResponse] {
		var zeroValue *string
		next := response.GetCursor()
		results := response.GetGroups()
		return &core.PageResponse[*string, *square.CustomerGroup, *square.ListCustomerGroupsResponse]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue,
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.Cursor)
}

// Creates a new customer group for a business.
//
// The request must include the `name` value of the group.
func (c *Client) Create(
	ctx context.Context,
	request *customers.CreateCustomerGroupRequest,
	opts ...option.RequestOption,
) (*square.CreateCustomerGroupResponse, error) {
	response, err := c.WithRawResponse.Create(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Retrieves a specific customer group as identified by the `group_id` value.
func (c *Client) Get(
	ctx context.Context,
	request *customers.GetGroupsRequest,
	opts ...option.RequestOption,
) (*square.GetCustomerGroupResponse, error) {
	response, err := c.WithRawResponse.Get(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Updates a customer group as identified by the `group_id` value.
func (c *Client) Update(
	ctx context.Context,
	request *customers.UpdateCustomerGroupRequest,
	opts ...option.RequestOption,
) (*square.UpdateCustomerGroupResponse, error) {
	response, err := c.WithRawResponse.Update(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Deletes a customer group as identified by the `group_id` value.
func (c *Client) Delete(
	ctx context.Context,
	request *customers.DeleteGroupsRequest,
	opts ...option.RequestOption,
) (*square.DeleteCustomerGroupResponse, error) {
	response, err := c.WithRawResponse.Delete(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Adds a group membership to a customer.
//
// The customer is identified by the `customer_id` value
// and the customer group is identified by the `group_id` value.
func (c *Client) Add(
	ctx context.Context,
	request *customers.AddGroupsRequest,
	opts ...option.RequestOption,
) (*square.AddGroupToCustomerResponse, error) {
	response, err := c.WithRawResponse.Add(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Removes a group membership from a customer.
//
// The customer is identified by the `customer_id` value
// and the customer group is identified by the `group_id` value.
func (c *Client) Remove(
	ctx context.Context,
	request *customers.RemoveGroupsRequest,
	opts ...option.RequestOption,
) (*square.RemoveGroupFromCustomerResponse, error) {
	response, err := c.WithRawResponse.Remove(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
